<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>

        <div class="box-container">

            {% for i in range(0, num_of_boxes):%}
                <div class="box" style="background-color: {{ color_of_boxes }}"></div>
            {% endfor %}

        </div>
    </div>
</body>
</html> 